


.contain{
    font-size: 30px;
    background-image: url(best\ nda.webp) ;
    width:920px;
    color:white;
    align-items: center;
    padding-left: 550px;
}

.ndacoaching{
    color: black;
    background-color: #98afc7;
    height: 50px;
    width:1415px;
    font-size: 25px;
   align-items: center;
   padding-left: 30px;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-right: 30px;
}


.abc{
    align-content: center;
    background-color:  #98afc7;
    height: 750px;
    font-size: 25px;
    color: black;
    width: auto;
}
.features .para p{
    margin-left: 38%;
}
.features p{
   margin-left: 24%;
   align-items: center;
}

.features ol{
    margin-left: 36%;
}
.features h3{
   margin-left: 38%;
   color: #0020c2;
}
.pune{
    background-color: #151b54;
    height: 100vh;
}


.toppers {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px 30px 40px;
}

.toppers h1 {
    margin-top: 60px;
    font-size: 45px;
    padding: 10px;
}

.toppers p {
    padding-bottom: 60px;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.toppers img {
    width: 80%;
    border-radius: 200px;
}

.topper-col {
    flex-basis: 28%;
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px 12px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.topper-col:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5)
}

.topper-col h3.name {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 25px;
}

.topper-col h3 {

    font-size: 25px;
}

.topper-col h4 {
    padding: 5px;
    font-size: 20px;
    font-weight: 300;
}

@media(max-width: 1052px) {
    .topper-col h3.name {
        font-size: 20px;
    }

    .topper-col h3 {

        font-size: 18px;
    }

    .topper-col h4 {
        font-size: 15px;
    }
}

@media(max-width: 620px) {
    .row {
        flex-direction: column;
    }

    .topper-col h3.name {
        padding: 0px;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .topper-col h3 {

        padding: 3px;
    }

    .toppers h1 {
        font-size: 25px;
    }

    .toppers p {
        font-size: 14px;

    }

}

.row1{
    display: flex;
    justify-content: space-around;
}

.entrance{
    color: #151b54;
}

.admissions{
    color: #151b54;
}

.applybutton{
    display: flex;
    justify-content: space-around;
}

.app{
    color: #0020c2;
}

.add{
    color: #0020c2;
}

@media screen {
    .container{
        position: relative;
        width: 1470px;
        height: 800px;
        background-image: url(best\ nda.webp) ;
}
}

@media screen {
    .text-block{
        position: absolute;
        bottom:60px;
        right:40px;
        left:13px;
        background-color: black;
        opacity: .50;
        color:white;
        padding-left: 15px;
        padding-right: 20px;
        padding-bottom: 15px;
        font-size: 30px;
        border-radius: 10px;
        
    }
}

@media screen {
    .wwrd{
        background-color: #98afc7;
        width: 1470px;
        height: 370px;
        color: black;
        text-align: center;
        font-size: 30px;
        padding-top: 20px;
    }
}

