*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    background-size: auto;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(kimberly-farmer-lUaaKCUANVI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* .text-block{
    position:absolute;
    bottom:400px;
    right:400px;
    left:400px;
    background-color: black;
    opacity: .50;
    color:white;
    padding-left: 300px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-size: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}  */

.text-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100px;
    /* font-size: 20px; */
}

.container .add-detail{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container .add-detail h1 {
    font-size: 12rem;
    padding: 15px;
}
.container .add-detail h4{
    font-size: 6rem;
    margin-top: 1%;
    color: rgb(237, 224, 224);
}
.container .add-detail p{
    margin-top: 1.5%;
    line-height: 6rem;
    font-size: 5rem;
    align-items: center;
}
.main{
   
    height:100vh;
    width:100%;

}
.flex-container{
    width:100%;
    height: auto;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}
/* @media screen {
    width:100%;
    
} */
.flex-box{
    width:200px;
    height:200px;
    background-color: linear-gradient(purple,red);
    color:black;
    font-size: 25px;
    text-align: center;
    line-height: 200px;
    border-radius: 20px;
    margin:10px;
}

/* card Section */
.middle-card .child{
    display: inline;
   
}

#middle-card .middle-card {
    /* width: 85%; */
    margin-top: -50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
#middle-card .middle-card .row img{
   height: 50px;
}
#middle-card .middle-card .card-text h4{
    color:black;
    margin-bottom: 0%;
    font-weight: 600;
 }
 #middle-card .middle-card .card-text p{
    color:black;
    margin-bottom: 0%;
 }
