
*::selection {
    background: var(--yellow);
    color: #333;
}
html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}
.stats{
    text-align: center;
    padding: 1rem 0;
    padding-bottom: 2rem;
    font-size: 2rem;
    background-color: rgb(116 235 62 / 55%);
}
.counter {
    background-image: url(school.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 70%;
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.counter .box {
    width: 18rem;
    height: 7rem;
    background: #69b4f5;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 25px;
}
.counter .box span {
    font-size: 2.5rem;
    color:rgb(0, 0, 0);
}
.counter .box h3 {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}
.alumini{
    opacity: 70%;
}
a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: rgb(208, 72, 72);
    /* background: #111; */
}
.button{
    border: none;
    border-radius: 1.3rem;
    background-color: rgb(84, 125, 221);
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    background-color: black;
    color: antiquewhite;
}
.fee{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: aqua;
    
}
.fee .box{
    text-align: center;
}
.refund{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(205, 75, 114);  
}
.refund .box{
   text-align: center;
}
@media (max-width:1200px) {
    html {
        font-size: 55%;

    }
}
/* required media query for width 600 for background image */